*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

main {
  background-color: lightgray;
  border: 1px solid #009ede;
  border-radius: 2px;
  width: 60%;
  margin: auto;
  padding: 1rem;
}

footer {
  background-color: white;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

section {
  margin-top: 1rem;
}

section.post {
  background-color: white;
  border: 1px solid black;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
}

p.no-posts {
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
}

section.comment {
  background-color: white;
  border: 1px solid black;
  margin: 0 2rem 0 2rem;
  padding: 0 1rem 0 1rem;
}

textarea {
  resize: none;
  width: 100%;
}

form.create-comment {
  margin: 1rem 2rem 1rem 2rem;
}

div.description {
  margin-bottom: 4rem;
}

section.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.game {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  height: 10rem;
  justify-content: center;
  margin-top: 1rem;
  width: 10rem;
}

a.game:hover {
  box-shadow: 2px 2px 2px black;
}

a.game:active {
  box-shadow: inset 2px 2px 2px black;
}
div.namebar {
  margin: 1rem;
}

li.namebar-item {
  list-style: none;
}

.header-button {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  padding: .5rem 1rem;
}

.header-button:hover {
  background-color: white;
}
