{% extends "base.html" %}
{% block content %}
  <h1>Games</h1>

  <form class="filter" action="/" method="post">

    <label>Genre:
      <select class="genre" name="genre">

        <option value=0>All</option>

        {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.name }}</option>
        {% endfor %}
      </select>
    </label>

    <input type="submit" name="filter" value="Filter">
  </form>

  <section class="game-list">

    {% for game in games %}
    <a class="game" href="{{ url_for('posts.post_list', game_id=game.id) }}">{{ game.title }}</a>
    {% endfor %}
  </section>
{% endblock %}
