{% extends "base.html" %}
{% block content %}

  <a href="{{ url_for('index') }}">Back</a>

  <h1>{{ game.title }}</h1>
  <p>{{ game.description }}</p>

  {% if posts == [] %}
    <p class="no-posts">No posts yet!</p>
  {% endif %}

  {% for post in posts %}

    <section class='post'>

      <p class='author'>Posted by <a href="{{ url_for('posts.profile', user_id=post.id)}}">{{ post.username }}</a></p>

      <h2><a href="{{ url_for('posts.comments', game_id=game.id, post_id=post.post_id)}}">{{ post.title }}</a></h2>

      <p>{{ post.body }}</p>
    </section>
  {% endfor %}

{% endblock %}
