{% extends "base.html" %}
{% block content %}

<div class="register">
	<h1>Register</h1>

	<form action="{{ url_for('auth.register') }}" method="post" autocomplete="off">
		<label for="username">
		</label>
		<input type="text" name="username" placeholder="Username" id="username" required>
		<label for="password">
		</label>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<label for="email">
		</label>
		<input type="email" name="email" placeholder="Email" id="email" required>
		<div class="msg">{{ msg }}</div>
		<input type="submit" value="Register">
	</form>
</div>

{% endblock %}
